subject = "Новый заказ на сайте Воздух В Доме от {{name}}"
==
<h4>Новый заказ <b style="color:#e86125;">{{order}}</b> на сумму: <b style="color:#e62a2a;">{{total}}</b> руб.</h4>
<h4><a href="http://vozduhvdome.su/backend/gms/settings/orders/update/{{idOrder}}">Перейти к заказу</a></h4>
Информация о заказе <br>
<hr>
Имя клиента: <span style="color:#e86125;">{{name}}</span> <br>
Телефон: <span style="color:#e86125;">{{tel}}</span> <br>
Количество: <span style="color:#e86125;">{{count}}</span> <br>
Сумма заказа: <span style="color:#e86125;">{{ total }}</span><br>
E-mail: <span style="color:#e86125;">{{email}}</span> <br>
<hr>
Ip: <span style="color:#e62a2a;">{{ip}}</span>
<br><br>
-----
<br><br>
Письмо отправлено автоматически. Пожалуйста не отвечайте на него.