subject = "Заявка на быструю покупку от {{name}}"
==
==
Новая заявка на быструю покупку <a style="color:#e86125;text-decoration:underline;" href="{{url}}"><b>{{title}}</b></a> от <b>{{name}}</b>
<br><br>
Информация о быстром заказе:
<hr>
ФИО: {{name}} <br>
Телефон: {{ tel }}
<br><br>
Товар: {{title}} <br>
Ссылка на товар: <a style="color:#e86125;text-decoration:underline;" href="{{url}}">{{url}}</a>
<hr>
Ip: {{ip}}
<br><br>
-----
<br><br>
Письмо отправлено автоматически. Пожалуйста не отвечайте на него.